*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
    list-style: none;
    text-decoration: none;
}

header{
     position: fixed;
     right: 0;
     top: 0;
     z-index: 1000;
     width: 100%;

     display: flex;
     justify-content: space-between;
     padding: 33px 9%;
     background: transparent;

}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: solid transparent 2px;
    border-radius: 3px;
    transition: all .3s ease;
}

.navlist a:hover{
    border-bottom: solid white 3px;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero
{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #954d52 0%, #384a70, 40.53%, #1a304e 60.52%);

    position: relative;
    display: grid;
}

.hero_text h1{
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}