*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
    list-style: none;
    text-decoration: none;
}

header{
     position: fixed;
     right: 0;
     top: 0;
     z-index: 1000;
     width: 100%;

     display: flex;
     justify-content: space-between;
     padding: 33px 9%;
     background: transparent;

}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: solid transparent 2px;
    border-radius: 3px;
    transition: all .3s ease;
}

.navlist a:hover{
    border-bottom: solid white 3px;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero
{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #584d95 0%, #3d3068, 40.53%, #2c1a4e 60.52%);

    position: relative;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero_text h1{
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}

.shadow
{
    filter: drop-shadow(-20px 5px 20px rgb(63, 58, 58));
}

section
{
    padding: 0 19%;

}

.hero_text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero_text h1
{
    font-family: 'Permanent Marker',cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
    
}

.hero_text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero_text p{
    color: white;
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 40px;

}

.hero_img img
{
    width: 500px;
    height: 700px;

}

.hero_text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: solid transparent 1px;
    padding: 12px 30px;
    line-height: 1.4px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;

}

.hero_text a:hover{
    background: transparent;
    border: solid white 1px;
    transform: translateX(8px);
}

.hero_text a.ctaa
{
    background: transparent;
    border: solid white 1px;
    margin-left: 20px;
}

.hero_text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}


.icons
{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);

}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover{

    color: #4d9559;
    transform: translateY(-5px);
}